body {
  background-color: #d8dfea;
  margin: 0;
}

header {
  background-color: #3366ff;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}

.logo {
  float: left;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 8px;
}

/*header elements*/
.headerList {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.element {
  float: left;
}

.element a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
}

/*header elements underline efect*/
.efecto {
  display: inline-block;
  text-decoration: none;
}

.efecto::after {
  margin-top: 2px;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.3s;
}
.efecto:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

nav {
  width: 300px;
  margin-bottom: 20px;
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;
  left: 0;
  box-shadow: 0px 15px 8px 0 rgba(0, 0, 0, 0.2),
    10px 6px 20px 0 rgba(0, 0, 0, 0.3);
}

nav a {
  background-color: #3366ff;
  color: white;
  text-decoration: none;
  font-family: 'Century Gothic', sans-serif;
  font-size: 25px;
  display: block;
  padding: 12px;
}

nav a:hover {
  background-color: #0040ff;
}

main {
  background-color: #3366ff;
  color: white;
  vertical-align: top;
  display: inline-block;
  box-shadow: 0px 15px 8px 0 rgba(0, 0, 0, 0.2),
    10px 6px 20px 0 rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

/*search bar*/
.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #0040ff;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: white;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #0040ff;
  background: #0040ff;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrapSearch {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Card for each trade*/
.wrapper {
  height: 320px;
  width: 654px;
  margin: 50px auto;
}

.product-img {
  float: left;
  height: 320px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 320px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 200px;
  width: 327px;
  font-family: 'Century Gothic', sans-serif;
  color: black;
  text-align: center;
}

.product-text h1 {
  margin-left: 10px;
  padding-top: 5px;
  font-size: 25px;
}

.product-text h2 {
  margin-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #3366ff;
}

.product-text p {
  height: 125px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}
/*add trade section*/
.boxTrade {
  padding: 5px;
  border: 2px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Century Gothic', sans-serif;
}

/*Add your trade information boxes*/
.boxTradeTerm {
  width: 250px;
  border: 3px solid #0040ff;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  color: white;
  margin-bottom: 15px;
  display: block;
}
.boxTradeTerm:focus {
  color: black;
}

/*Select type*/
.boxSelectTerm {
  width: 265px;
  border: 3px solid #0040ff;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  color: black;
  margin-bottom: 15px;
  display: block;
}

.iconSelectImg {
  display: inline-block;
  margin-right: 20px;
}

textarea {
  resize: none;
  border: 3px solid #0040ff;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 255px;
  height: 70px;
}

/**/
.notificationListNumber {
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-left: 120px;
  font-family: 'Century Gothic', sans-serif;
}
