body {
  background-color: white;
  margin: 0;
}

header {
  border: 2px solid blue;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

nav {
  grid-area: nav;
  border: 2px solid blue;
}

main {
  grid-area: main;
  border: 2px solid blue;
}

aside {
  grid-area: aside;
  border: 2px solid blue;
}

section {
  grid-area: section;
  border: 2px solid blue;
}

footer {
  grid-area: footer;
  border: 2px solid blue;
}

.container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 80px 80px 80px 80px 80px 80px 80px;
  grid-template-areas:
    "nav section aside"
    "nav section aside"
    "nav main aside"
    "nav main aside"
    "nav main aside"
    "footer main aside";
}
