<!DOCTYPE HTML>
<html>

<head>
    <title>GoBarter</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/style.css" />

</head>

<body>
    <form action="#contact" method="post">
        <div class="row">
            <input type="text" placeholder="Name..." required/>
            <input type="email" placeholder="Email..." required/>
        </div>
        <textarea rows="6" placeholder="Your Message..." required></textarea>
        <button type="submit">Send It</button>
    </form>
    </div>

</body>

</html>