{% extends "base.html" %}

{% block body %}
<header>
    <img class="logo" src="assets/images/logo(42x34).jpg">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
    </ul>
</header>

<body>
    <div class="text-box">
        <form action="#contact" method="post">
            <div class="row">
                <input type="text" placeholder="Name..." required />
                <input type="email" placeholder="Email..." required />
            </div>
            <textarea rows="6" placeholder="Your Message..." required></textarea>
            </br>
            <button type="submit">Send It</button>
        </form>
    </div>
</body>
{% endblock %}