{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="/css/dashboard.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
<script defer src="js/logout.js"></script>
{% endblock %}

{% block body %}
<header>
    <img class="logo" src="/images/logo(42x34).jpg">
    <div class="headerList">
        <div class="element">
            <a class="efecto" href="/">Home</a>
        </div>
        <div class="element">
            <a class="efecto" href="login">Login</a>
        </div>
        <div class="element">
            <a class="efecto" href="profile">Profile</a>
        </div>
        <div class="element">
            <!-- <button class="efecto" id="log-out-button">Log out</button> -->
            <a class="efecto" id="log-out-button">Log out</a>
        </div>
    </div>
    <div class="wrapSearch">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</header>
<div class="profileCard" align="center">
    <img class="profileImg" src="/images/userLogo.png">
    <p>@Guillenoble</p>
</div>
<nav>
    <a href="#">Home</a>
    <a href="#">Profile</a>
    <a href="/articles">My Articles</a>
</nav>
<main>
    <div class="boxTrade" align="center">
        <input type="text" class="boxTradeTerm" placeholder="Article name">
        <textarea placeholder="Enter description"></textarea>
        <select class="boxSelectTerm">
            <option value="technology">Technology</option>
            <option value="health and beauty">Health and beauty</option>
            <option value="sports">Sports</option>
            <option value="home and electrodomestics">Home and electrodomestics</option>
            <option value="books">Books</option>
            <option value="fashion">Fashion</option>
        </select>
        <img class="iconSelectImg" src="/images/upload(32).png">
        <img src="/images/plus(32).png">
    </div>
    <div class="wrapper">
        <div class="product-img">
            <img src="http://bit.ly/2tMBBTd" height="320" width="327">
        </div>
        <div class="product-info">
            <div class="product-text">
                <h1>Harvest Vase</h1>
                <h2>@Guillenoble</h2>
                <p>Harvest Vases are a reinterpretation
                    <br> of peeled fruits and vegetables as
                    <br> functional objects. The surfaces
                    <br> appear to be sliced and pulled aside,
                    <br> allowing room for growth. </p>
                <h2>Like this product to trade</h2>
                <img src="/images/heart(24).png">
            </div>
        </div>
    </div>
</main>
<!--Used for logo in search bar (for now)-->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js "></script>
{% endblock %}
