{% extends "base.html" %} {% block header %}
<link rel="stylesheet" href="/css/dashboard.css" />
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
/>
<script defer src="js/logout.js"></script>
{% endblock %} {% block body %}
<header>
  <img class="logo" src="/images/logo(42x34).jpg" />
  <div class="headerList">
    <div class="element"><a class="efecto" href="/">Home</a></div>
    <div class="element"><a class="efecto" href="login">Login</a></div>
    <div class="element"><a class="efecto" href="profile">Profile</a></div>
    <div id="log-out-button" class="element">
      <a class="efecto" href="#">Log out</a>
    </div>
  </div>
  <div class="wrapSearch">
    <div class="search">
      <input
        type="text"
        class="searchTerm"
        placeholder="What are you looking for?"
      />
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</header>
<div class="profileCard" align="center">
  <img class="profileImg" src="/images/userLogo.png" />
  <p>@Guillenoble</p>
</div>
<nav>
  <a href="#">Home</a> <a href="#">Profile</a> <a href="#">My trades</a>
</nav>
<main>
  <div class="boxTrade" align="center">
    <input
      type="text"
      id="articleNameInput"
      class="boxTradeTerm"
      placeholder="Article name"
    />
    <textarea
      id="articleDescriptionInput"
      placeholder="Enter description"
    ></textarea>
    <select id="articleTypeInput" class="boxSelectTerm">
      <option value="technology">Technology</option>
      <option value="health and beauty">Health and beauty</option>
      <option value="sports">Sports</option>
      <option value="home and electrodomestics"
        >Home and electrodomestics</option
      >
      <option value="books">Books</option>
      <option value="fashion">Fashion</option>
    </select>
    <input
      type="file"
      accept="image/*"
      name="image"
      id="file"
      class="selectImg"
    />
    <input type="image" id="addArticle" src="/images/plus(32).png" />
  </div>
  <div id="demo"></div>
</main>
<div id="offerArticleBox" class="offerArticleBox" style="display:none">
  <div class="boxTrade" align="center">
    <p>Offer an article</p>
    <input type="hidden" id="artId" value="" />
    <select id="userList" class="boxSelectTerm"> </select>
    <!--
      input
        type="file"
        accept="image/*"
        name="image"
        id="file"
        class="selectImg"
      /
    -->
    <input type="image" id="addArticle" src="/images/plus(32).png" />
  </div>
</div>
<script src="/js/dashboard.js "></script>
<!-- Used for logo in search bar (for now) -->
<script
  defer
  src="https://use.fontawesome.com/releases/v5.0.6/js/all.js "
></script>
{% endblock %}
