{% extends "base_with_topbar.html" %} {% block header %}
<link rel="stylesheet" href="/css/dashboard.css" />
<script defer src="js/dashboard.js"></script>
{% endblock %} {% block leftaside %}
<div class="profileCard">
  <img class="profileImg" src="/images/userLogo.png" />
  <p id="username"></p>
</div>
<nav class="aside-nav">
  <a href="/myarticles">My Articles</a> <a href="/matches">Matches</a>
</nav>
{% endblock %} {% block center %}
<main>
  <div class="boxTrade">
    <input
      type="text"
      id="articleNameInput"
      class="boxTradeTerm"
      placeholder="Article name"
    />
    <textarea
      id="articleDescriptionInput"
      placeholder="Enter description"
    ></textarea>
    <select id="articleTypeInput" class="boxSelectTerm">
      <option value="technology">Technology</option>
      <option value="health and beauty">Health and beauty</option>
      <option value="sports">Sports</option>
      <option value="home and electrodomestics"
        >Home and electrodomestics</option
      >
      <option value="books">Books</option>
      <option value="fashion">Fashion</option>
    </select>
    <input
      type="file"
      accept="image/*"
      name="image"
      id="file"
      class="selectImg"
    />
    <input type="image" id="addArticle" src="/images/plus(32).png" />
  </div>
  <div id="demo"></div>
</main>
<div id="offerArticleBox" class="offerArticleBox" style="display:none">
  <div class="boxTrade" align="center">
    <p>Offer an article</p>
    <input type="hidden" id="artId" value="" />
    <select id="userList" class="boxSelectTerm"> </select>
    <!--
      input
        type="file"
        accept="image/*"
        name="image"
        id="file"
        class="selectImg"
      /
    -->
    <input type="image" id="offerArticle" src="/images/plus(32).png" />
  </div>
</div>
{% endblock %} {% block rightaside %}
<div style="background:red;height: 100px;"></div>
{% endblock %}
