<!DOCTYPE HTML>
<html>

<head>
    <title>GoBarter</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/web/assets/css/style.css" />
</head>

<body>
    <header>
        <img class="logo" src="/web/assets/images/logo(42x34).jpg">
        <div class="headerList">
            <div class="element">
                <a class="efecto" href="index.html">Home</a>
            </div>
            <div class="element">
                <a class="efecto" href="login.html">Login</a>
            </div>
            <div class="element">
                <a class="efecto" href="perfil.html">Profile</a>
            </div>
            <div class="element">
                <a class="efecto" href="#">Log out</a>
            </div>
        </div>
    </header>
    <nav>
        <div class="navElement">
            <a class="efecto" href="index.html">Home</a>
        </div>
        <div class="navElement">
            <a class="efecto" href="index.html">Profile</a>
        </div>
    </nav>
</body>

</html>
