<!DOCTYPE HTML>
<html>

<head>
    <title>GoBarter - Login Template</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
    <div class="login-container">
        <img class="logoUsuario" src="/images/userLogo.png" alt="Logo del usuario">
        <h1>Login</h1>
        <form>
            <!--Nombre de usuario-->
            <label for="Nombre de usuario">Username</label>
            <input type="text" placeholder="Enter username">

            <!--Contraseña-->
            <label for="Contraseña">Password</label>
            <input type="password" placeholder="Enter password">

            <input type="submit" value="Sing In">

            <a href="#">Forgot password</a>
            <br>
            <a href="#">Sign up</a>
        </form>
    </div>
</body>

</html>
