{% extends "base_with_topbar.html" %} {% block leftaside %}
<nav class="aside-nav">
  <a href="/myarticles">My Articles</a> <a href="/matches">Matches</a>
</nav>
{% endblock %} {% block center %}

<h1>USER PROFILE</h1>

    <div class="flex-container">
        <div class="main-flex-container-child left-aside">
            <div class="profileCard">
                <img class="profileImg" src="/images/userLogo.png" />
                <p id="logged-user-name"></p>
                <p id="logged-user-email"></p>
            </div>
        </div>

        </div>

        <div class="center">

        </div>

        <div class="main-flex-container-child right-aside">

        </div>
    </div>
{% endblock %}
