{% extends "base.html" %} {% block header %}
<link rel="stylesheet" href="/css/signup.css" />
<script defer src="js/signup.js"></script>
{% endblock %} {% block center %}
<div class="signIn-container">
  <!-- <form> -->
  <h1>Sign Up</h1>
  <label for="name">Name</label>
  <input id="name-field" type="text" placeholder="Name" />

  <label for="email">Email</label>
  <input id="email-field" type="email" placeholder="Email" />

  <label for="password">Password</label>
  <input id="password-field" type="password" placeholder="Password" />

  <button id="sign-up-button" class="sign-up-button">Sign Up</button>
  <!-- <input type="submit" value="Sign Up" /> -->
  <!-- </form> -->
</div>
{% endblock %}
