<!DOCTYPE HTML>
<html>
    <head>
        <title>GoBarter - SignIn Template</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/signIn.css" />
    </head>

    <body>
        <div class="signIn-container">
            <form>
                <h1> Sign Up </h1>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Username">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="button" value="Sign Up">
            </form>
        </div>
    </body>
</html>
