<!DOCTYPE HTML>
<html>
    <head>
        <title>GoBarter - SignIn Template</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/signIn.css" />
    </head>

    <body>
        <div class="signIn-container">
            <form>
                <h1> Sign Up </h1>
                <label for="name">Name</label>
                <input type="text" placeholder="Name">

                <label for="username">Username</label>
                <input type="text" placeholder="Username">

                <label for="email">Email</label>
                <input type="email" placeholder="Email">

                <label for="password">Password</label>
                <input type="password" placeholder="Password">

                <input type="submit" value="Sign Up">
            </form>
        </div>
    </body>
</html>
