<nav class="main-nav">
  <div class="logo-home-container">
    <img class="logo" src="/images/bartinder_logo(42x32).png" />
    <span class="home-icon">
      <a href="/"> <i class="fa fa-home"></i> </a>
    </span>
  </div>

  <div class="search-container">
    <input
      type="text"
      class="search-input"
      placeholder="What are you looking for?"
    />
    <button type="submit" class="search-button">
      <i class="fa fa-search search-icon"></i>
    </button>
  </div>

  <div class="main-nav-buttons">
    <div class="main-nav-button">
      <a class="main-nav-button-efect" href="/profile">Profile</a>
    </div>
    <div class="main-nav-button about">
      <a class="main-nav-button-efect" href="/aboutus">About</a>
    </div>
    <div id="log-out-button" class="main-nav-button main-nav-button-efect">
      <a class="main-nav-button-efect">Log out</a>
    </div>
  </div>
</nav>
